h1 {
    color: lightpink;
    background-color: darkgrey;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}
p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    color: darkgrey;

}
img {
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#p1 {
    text-align: center;
}

#p2 {
    text-align: right;
}

#p3 {
    text-align: left;
}
